.uploadzone{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px dotted lightgrey;
  padding: 15px;
}

.targetted{
  border: 2px dashed red;
}

.media img {
  max-width:80px;
  max-height:80px;
}
.mediaspan{
  width:80px;
  height:80px;
  margin-left:10px;
}
