.uploadzone{
  border: 1px dotted lightgrey;
  padding: 15px;
}

.targetted{
  border: 2px dashed red;
}

.uploadimg {
  max-width:80px;
  max-height:80px;
}
.uploadicon{
  width:80px;
  height:80px;
  margin-left:10px;
}
.uploadres{
  margin-bottom: 8px;
}
.tooltip-img{
  max-width:400px;
  max-height:400px;
}
.tooltip-inner {
  max-width: 405px;
}

.uploaderprogress{
  width:40%;
  margin-top:8px;
}
